<nav class="navbar navbar-dark bg-primary sticky-top">
    <div class="d-flex justify-content-around w-100 flex-wrap">
        <a [routerLink]="['']" class="nav__logo btn text-light">
            <i class="fa fa-shopping-cart"></i>
            <span class="nav__logo-text">UpGrad Eshop</span>
        </a>
        <form class="navbar-form form-inline" [formGroup]="searchForm">
            <input formControlName="search" class="form-control" type="search" name="search" placeholder="Type to search Products..." aria-label="Search"
                style="margin-right: -20px; width: 290px;">
            <i class="fa fa-search text-primary" aria-hidden="true"></i>
        </form>

        <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
                <i class="fa fa-user"></i>
                <ng-container *ngIf="user?.userName; else notLogged">
                    Welcome {{user.userName}}
                </ng-container>
                <ng-template #notLogged>
                    Account
                </ng-template>
                <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li *ngIf="user?.userName" role="menuitem"><a class="dropdown-item" (click)="handleSignOut()">Sign
                        Out</a></li>
                <li *ngIf="!user?.userName" role="menuitem">
                    <a class="dropdown-item">
                        <app-signin-modal></app-signin-modal>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>